<style>
    .image {
        display: inline-block;
        margin: 120px 30px 3px 30px;
        max-height: 300px;
    }

    .betlinesImg {
        margin-top: -45px;
    }
</style>

<div xmlns="http://www.w3.org/1999/xhtml"
     class="interface-paytable_section interface-settingsSection_subSection utils_center_text">
    <div class="header betLinesPaytable bonusFeatureHeaderUC">{{HEADER}}</div>
    <div class="image "><img
        src="multimedia/images/1280x720/paytable/PT_bet_combinations.png"
        class="betlinesImg"/></div>
</div>
