
<style>
    .bonusFeatureHeaderUC{
        margin-top: 20px;
        height: 10px;
    }

    .pageContent{
        display: flex;
        padding-top: 80px;
    }

    .leftColumn{
        width: 50%;
    }
    .rightColumn{
        width: 50%;
    }

</style>
<div class="interface-paytable_section interface-settingsSection_subSection utils_center_text" >
    <div class="header bonusFeatureHeaderUC">{{HEADER}}</div>
    <div class="pageContent">
        <div class="leftColumn">
            <div class="image slides" style=""></div>
        </div>
        <div class="rightColumn">
            {{#BODY}}
                <div class="paytable-text">{{.}}</div>
            {{/BODY}}
        </div>
    </div>
</div>
